body{
    margin:0;
    font-family:'Poppins', sans-serif;
    background-color: #f5e8ba;
}
#wrapper div,#wrapper h2{
    display:flex;
    justify-content: center;
}
h2{
    color: #ffeba7;
    letter-spacing: 1px;
}
#wrapper{
    background-color: #1f2029;
    border-radius: 10px;
    height: 500px;
    margin: 200px auto;
    width: 400px;
    padding: 30px;
}
input{
    border: 2px solid black;
    border-radius: 5px;
    height: 200px;
    width: 250px;
    background-color: aquamarine;
    
}
input :active{
    border: none;
}
button{
    margin-top: 10px;
    background-color: #ffeba7;
    padding: 0 30px;
    color: #102770;
    border-radius: 4px;
    height: 44px;
    width: 42%;
    font-weight: 500;
    border: none;
}
button:hover{
    cursor:text
}
#result{
    color:white;
    margin-top:20px;
    font-size:32px;
}